<div class="conatainer">
    <h3 class="mt-4 mb-4">Foglalásaim</h3>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Dátum</th>
                <th>Szállás neve / címe</th>
                <th>Foglalás kedete / vége</th>
                <th>Személyek száma</th>
                <th>Végösszeg</th>
                <th class="text-end">Műveletek</th>
            </tr>
        </thead>
        <tbody>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tbody>
    </table>
</div>